<!doctype html>
<html lang="en" ng-app="talentApp">
<head>
	<meta charset="UTF-8">
	<title>Detail</title>
	<link rel="stylesheet" href="static/uikit/css/uikit.css" />
	<script src="https://code.jquery.com/jquery-2.1.3.js"></script>
	<script src="static/uikit/js/uikit.js"></script>
	<!-- putting this at the top to remove the jarring load -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
	<script src="static/js/app.js"></script>
	<script src="static/js/services.js"></script>
</head>

<body ng-controller="MainCtl" class="uk-position-relative">
	<div class="uk-container uk-container-center">
	
		<div alt="" ng-style="{'background-image': 'url(static/img/works/{{workshop.work._id}}/head.png)','height': '560px','width': '100%','background-size': '105% auto','position': 'absolute','z-index': '-1000','top': '0',left: '0'}"></div>
		
		<div class="uk-clearfix">
			<div class="uk-align-left">
				<a href="/landing"><img src="static/img/detail/talentjungle.png" alt="" width="300"></a>
			</div>
			<div class="uk-align-right">
				<a href="/myorder"><img class="uk-border-circle" ng-src="static/img/users/{{user.email}}/head.jpg" width="50" height="50" onerror="this.onerror=null;this.src='static/img/home/blank.jpg';"></a>
				<a style="font-family:'PT Sans Caption'; font-size:25px; font-weight:100; text-decoration:none; color:#ffffff">{{user.firstname}}</a>
				<!--
				<a href="http://google.com"><img src="static/img/detail/mailicon.png" width="70" height="70" alt=""></i></a>
		    	<a href="http://google.com"><img src="static/img/detail/settingicon.png" width="70" height="70" alt=""></i></a>
		    	-->
			</div>
		</div>

		<div class="uk-grid">	
			<div class="uk-width-4-5 uk-vertical-align uk-panel uk-text-break" style="height:260px">
				<h1 class="uk-vertical-align-bottom" style="font-family:'PT Sans Caption'; font-size:70px; line-height: 70px; margin-left:30px; color:#ffffff">{{workshop.work.name}}</h1>
				<p class="uk-vertical-align-bottom" style="font-family:'PT Sans Caption'; font-size:35px; line-height:35px; margin-left:35px; margin-top:30px;color:#ffffff">{{workshop.time.string}} {{workshop.length}}min</p>
				<p class="uk-vertical-align-bottom" style="font-family:'PT Sans Caption'; font-size:35px; line-height:35px; margin-left:35px; margin-top:30px;color:#ffffff">{{workshop.work.popularity.flow}} commented, score {{workshop.work.popularity.rate}}</p>
			</div>
			
			<div class="uk-width-1-5 uk-vertical-align uk-panel" style="height:360px">
				<p class="uk-vertical-align-bottom" style="font-family:'PT Sans Caption'; font-size:50px; margin-right:50px; color:#BEF781">${{workshop.price}}</p>
				<a id="button-book" class="uk-button uk-button-large uk-button-success uk-border-rounded uk-vertical-align-bottom" href="/book?id={{workshop._id}}&email={{user.email}}" disabled>Book</a>
			</div>
		</div>
		<div style="height:50px"></div>
		
		<!--
		<div class="uk-clearfix">
			<div class="uk-align-left">
				<h1 style="font-family:'PT Sans Caption'; font-size:70px; margin-left:30px; color:#ffffff">{{workshop.work.name}}
				</h1>
				<p style="font-family:'PT Sans Caption'; font-size:35px; line-height:50px; margin-left:35px; margin-top:30px;color:#ffffff">{{workshop.time.string}}</p>
			</div>
			<div class="uk-align-right">
				<p style="font-family:'PT Sans Caption'; font-size:50px; margin-right:50px; color:#BEF781">${{workshop.price}}</p>
				<a id="button-book" class="uk-button uk-button-large uk-button-success uk-border-rounded" href="/book?id={{workshop._id}}&email={{user.email}}" disabled>Book</a>
			</div>
		</div>
		-->
		
		
		<div style="height:80px"></div>
		<div class="uk-grid">
			<div class="uk-container uk-container-center uk-width-9-10">
				<div class="uk-grid">
					<div class="uk-width-3-5 uk-grid">
						<div class="uk-width-1-4">
							<img class="uk-border-circle" ng-src="static/img/users/{{workshop.owner.email}}/head.jpg" alt="" width="150">
						</div>
						<div class="uk-width-3-4">
							<p style="font-family:'PT Sans Caption'; font-size:30px"><strong>{{workshop.owner.firstname}} {{workshop.owner.lastname}}</strong></p>
							<p style="font-family:'PT Sans Caption'; font-size:25px; line-height:50px; font-weight:100" ng-repeat="certification in workshop.work.certifications">
								{{certification}}
							</p>
						</div>
					</div>
					<div class="uk-width-2-5">
						<!--
						<p style="font-family:'PT Sans Caption'; font-size:25px; line-height:50px; font-weight:100">Potential Classmates</p>
						<img class="uk-border-circle" src="static/img/obama.jpg" alt="" width="70" height="70" style="margin:0 10px">
						<img class="uk-border-circle" src="static/img/obama.jpg" alt="" width="70" height="70" style="margin:0 10px">
						<img class="uk-border-circle" src="static/img/obama.jpg" alt="" width="70" height="70" style="margin:0 10px">
						<img class="uk-border-circle" src="static/img/obama.jpg" alt="" width="70" height="70" style="margin:0 10px">
						<img class="uk-border-circle" src="static/img/obama.jpg" alt="" width="70" height="70" style="margin:0 10px">
						-->
						<div style="height: 40px"></div>
						<p style="font-family:'PT Sans Caption'; font-size:25px; line-height:50px; font-weight:100">Capacity: {{workshop.capacity.min}}-{{workshop.capacity.max}}
						<br>{{workshop.capacity.current}} people are goings.</p>
					</div>
				</div>
				<div style="height:20px"></div>
				<div class="uk-width-1-1 uk-clearfix">
					<a class="uk-align-right" href="mailto:{{workshop.owner.email}}?subject=[Talent Jungle][{{workshop.work.name}}]"><p style="font-family:'PT Sans Caption'; font-size:35px; color:#BEF781">
					<strong>Contact</strong></p></a>
				</div>
			</div>
		</div>
		<img src="static/img/detail/longgreyline.png" alt="">
		<div style="height:80px"></div>
		
		<div class="uk-container uk-container-center uk-width-9-10">
			<h1 style="font-family:'PT Sans Caption'; font-size:40px"><strong>About the Workshop</strong></h1>
			<div style="height:20px"></div>
			<div class="uk-panel uk-text-break" style="font-family:'PT Sans Caption'; font-size:25px; line-height:40px; font-weight:100">{{workshop.work.outline}}</div>
			<div style="height:20px"></div>
			<h1 style="font-family:'PT Sans Caption'; font-size:30px"><strong>Works</strong></h1>
			<div style="height:20px"></div>
			<ul class="uk-grid uk-grid-width-1-3 uk-grid-width-medium-1-5 uk-grid-width-large-1-7" data-uk-grid-margin>
				<li ng-repeat="n in examples">
				<img  ng-src="static/img/works/{{workshop.work._id}}/examples/example{{n}}.png" alt="" width="400" height="400">
				</li>
			</ul>
			<div style="height:40px"></div>
			<div class="uk-clearfix">
				<a class="uk-align-right" href="http://google.com"><p style="font-family:'PT Sans Caption'; font-size:35px; color:#BEF781"><strong>More Info</strong></p></a>
			</div>
		</div>
		
		<img src="static/img/detail/shortgreyline.png" alt="">

		
		<div class="uk-container uk-container-center uk-width-9-10">
			<div style="height:40px"></div>
			<h1 style="font-family:'PT Sans Caption'; font-size:30px"><strong>Objective</strong></h1>
			<div style="height:10px"></div>
			<ul>
				<li style="font-family:'PT Sans Caption'; font-size:25px; line-height:40px; font-weight:100" ng-repeat="objective in workshop.work.objectives">{{objective}}</li>
			</ul>
			<div style="height:10px"></div>
			<h1 style="font-family:'PT Sans Caption'; font-size:30px"><strong>Syllabus</strong></h1>
			<div style="height:20px"></div>
			<table>
				<col width="200">
				<tr ng-repeat="stop in workshop.syllabus">
					<td style="font-family:'PT Sans Caption'; font-size:25px; line-height:40px; font-weight:100">{{stop.time}} min</td>
					<td style="font-family:'PT Sans Caption'; font-size:25px; line-height:40px; font-weight:100">{{stop.do}}</td>
				</tr>
			</table>
			<div style="height:20px"></div>
			<div class="uk-clearfix">
				<a  id="link-download" class="uk-align-right" href="http://google.com"><p style="font-family:'PT Sans Caption'; font-size:35px; color:#BEF781">
				<strong>Download</strong></p></a>
			</div>
			<h1 style="font-family:'PT Sans Caption'; font-size:30px"><strong>Preparation</strong></h1>
			<div style="height:20px"></div>
			<div class="uk-panel uk-text-break" style="font-family:'PT Sans Caption'; font-size:25px; line-height:40px; font-weight:100"><span ng-repeat="preparation in workshop.work.preparations">{{preparation}}; </span></div>
			<div style="height:40px"></div>
		</div>
		
		<img src="static/img/detail/shortgreyline.png" alt="">
		<div class="uk-container uk-container-center uk-width-9-10">
			<div style="height:40px"></div>
			<h1 style="font-family:'PT Sans Caption'; font-size:30px"><strong>Location</strong></h1>
			<div style="height:20px"></div>
			<div class="uk-grid">
				<div class="uk-width-1-3">
					<div class="uk-panel uk-text-break" style="font-family:'PT Sans Caption'; font-size:25px; line-height:40px; font-weight:100">{{workshop.location}}</div>
				</div>
				<div class="uk-width-2-3">
					<!-- <img class="uk-align-center" src="static/img/detail/map.jpg" alt="" style="width:1600px"> -->
					<iframe class="uk-responsive-width" 
					  width="930"
					  height="250"
					  frameborder="0" style="border:0"
					  ng-src="{{query_gmap}}">
					</iframe>
				</div>
			</div>
		</div>
		<div style="height:40px"></div>
		<img src="static/img/detail/longgreyline.png" alt="">


		<div class="uk-container uk-container-center uk-width-9-10">
			<div style="height:40px"></div>
			<h1 style="font-family:'PT Sans Caption'; font-size:30px"><strong>Reviews</strong></h1>
			<div style="height:20px"></div>
		</div>
		
		<div class="uk-grid" ng-repeat="review in workshop.reviews">
			<img src="static/img/detail/shortgreyline.png" alt="">
			<div class="uk-width-9-10 uk-container uk-container-center">
				<div style="height:80px"></div>
				<div class="uk-grid uk-grid-collapse">
					<div class="uk-width-1-6 uk-clearfix">
						<img class="uk-float-left uk-border-circle" ng-src="static/img/users/{{review.email}}/head.jpg" alt="" width="150px" height="150px">
					</div>
					<div class="uk-width-5-6">
						<div class="uk-grid uk-grid-collapse">
							<div class="uk-width-1-2">
								<h1 style="font-family:'PT Sans Caption'; font-size:35px"><strong>{{review.email}}</strong></h1>
								<p style="font-family:'PT Sans Caption'; font-size:25px; line-height:40px; font-weight:100">{{review.time.string}}</p>
							</div>
							<div class="uk-width-1-2 uk-clearfix">
								<div class="uk-float-right">
									<i class="uk-icon-star uk-icon-large"  ng-repeat="n in [1,2,3,4,5]" ng-show="n <= review.rate" style="color:red"></i>
									<i class="uk-icon-star uk-icon-large"  ng-repeat="n in [1,2,3,4,5]" ng-show="n > review.rate"></i>
								</div>
							</div>
						</div>
						<br>
						<div class="uk-panel uk-text-break" style="font-family:'PT Sans Caption'; font-size:25px; line-height:40px; font-weight:100">{{review.content}}</div>
						<div style="height:40px"></div>
					</div>
				</div>
			</div>
		</div>
		<figure class="uk-overlay uk-overlay-hover">
		<img src="static/img/detail/bottomimage.png" alt="" width="" height="">
		<figcaption class="uk-overlay-panel">
			<div style="height:60px"></div>
			<div class="uk-grid">
				<div class="uk-width-1-10"></div>
				<div class="uk-width-9-10">
					<table>
						<col width="200">
						<tr style="height:40px">
							<td style="font-family:'PT Sans Caption'; font-size:30px"><strong>Company</strong></td>
							<td style="font-family:'PT Sans Caption'; font-size:30px; font-weight:100"><a href="" style="text-decoration:none">History</a></td>
						</tr>
						<tr style="height:40px">
							<td style="font-family:'PT Sans Caption'; font-size:30px"></td>
							<td style="font-family:'PT Sans Caption'; font-size:30px; font-weight:100"><a href="" style="text-decoration:none">Founders</a></td>
						</tr>
						<tr style="height:40px">
							<td style="font-family:'PT Sans Caption'; font-size:30px"></td>
							<td style="font-family:'PT Sans Caption'; font-size:30px; font-weight:100"><a href="" style="text-decoration:none">Politics</a></td>
						</tr>
						<tr style="height:40px">
							<td style="font-family:'PT Sans Caption'; font-size:30px"></td>
							<td style="font-family:'PT Sans Caption'; font-size:30px; font-weight:100"><a href="" style="text-decoration:none">Terms & Policies</a></td>
						</tr>
						<tr style="height:40px">
							<td style="font-family:'PT Sans Caption'; font-size:30px"></td>
							<td style="font-family:'PT Sans Caption'; font-size:30px; font-weight:100"><a href="" style="text-decoration:none"></a></td>
						</tr>
						<tr style="height:40px">
							<td style="font-family:'PT Sans Caption'; font-size:30px"><strong>Contact</strong></td>
							<td style="font-family:'PT Sans Caption'; font-size:30px; font-weight:100"><a href="" style="text-decoration:none">Phone</a></td>
						</tr>
						<tr style="height:40px">
							<td style="font-family:'PT Sans Caption'; font-size:30px"></td>
							<td style="font-family:'PT Sans Caption'; font-size:30px; font-weight:100"><a href="mailto:qicongc@cs.cmu.edu" style="text-decoration:none">Email</a></td>
						</tr>
						<tr style="height:40px">
							<td style="font-family:'PT Sans Caption'; font-size:30px"><strong>Join us</strong></td>
							<td style="font-family:'PT Sans Caption'; font-size:30px; font-weight:100"><a href="" style="text-decoration:none"></a></td>
						</tr>
					</table>
				</div>
			</div>
		</figcaption>
	</figure>
	</div>
<script>
	// read rendered data
	var rendered=<<.>>;
	console.log(rendered);
	// inject the $resource dependency here
	talentApp.controller('MainCtl', ['$scope', '$http', function($scope,$http){
		// general 
		$scope.workshop=rendered.workshop;
		$scope.user=rendered.user;
		// special
		// examples
		$scope.examples = new Array(rendered.workshop.work.examples);
		for (var i = $scope.examples.length - 1; i >= 0; i--) {
			$scope.examples[i]=i+1;
		};
		// gmap
		$scope.query_gmap="https://www.google.com/maps/embed/v1/place?key=AIzaSyBjnoBqd9JuclvOllzRGAQZhMbvhOgq73g&q="+rendered.workshop.location.replace(/\s+/g,'+');
		//check booked
		$http.get('/api/booked', {params:{id:$scope.workshop._id,email:$scope.user.email}}).
			success(function(data) {
				console.log(data);
				if (data.booked==true) { // cannot book
					$("#button-book").text("Drop").prop("href","/unbook?id="+$scope.workshop._id+"&email="+$scope.user.email).removeProp("disabled");
				}else if ($scope.workshop.capacity.current==$scope.workshop.capacity.max){ // cannot book
					$("#button-book").text("Full");
				}else{ // can book
					$("#button-book").text("Book").removeProp("disabled");
				};		  
			});
	}]);

	// download syllabus
	var name=rendered.workshop.work.name;
	var time=rendered.workshop.time;
	var length=rendered.workshop.length;
	var syllabus=rendered.workshop.syllabus;
	var text_syllabus = time.string+' '+length+'min\n';
	for (var i = 0; i < syllabus.length; i++) {
		text_syllabus = text_syllabus + syllabus[i].time + 'min\t' + syllabus[i].do + '\n';
	};
	console.log(text_syllabus);
	var element_download = document.getElementById('link-download');
	console.log(element_download);
	element_download.href = 'data:attachment/text,' + encodeURI(text_syllabus);
	element_download.target = '_blank';
	element_download.download = name+'_syllabus.txt';

</script>
</body>
</html>
