<!doctype html>
<html lang="en" ng-app="talentApp">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" href="static/uikit/css/uikit.css" />
	<link rel="stylesheet" href="static/uikit/css/components/dotnav.css" />
	<link rel="stylesheet" href="static/uikit/css/components/slidenav.css" />
	<link rel="stylesheet" href="static/uikit/css/components/slideshow.css" />
	<link rel="stylesheet" href="static/uikit/css/components/search.css" />
	<script src="https://code.jquery.com/jquery-2.1.3.js"></script>
	<script src="static/uikit/js/uikit.js"></script>
	<script src="static/uikit/js/components/slideshow.js"></script>
	<script src="static/uikit/js/components/slideshow-fx.js"></script>
	<!-- putting this at the top to remove the jarring load -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
	<script src="static/js/app.js"></script>
	<script src="static/js/services.js"></script>
</head>
<body ng-controller="MainCtl" >
	<!-- <<range .>>
	<p><<.>></p>
	<<end>> -->
	<div style="position:relative;height:600px">
		<div style="z-index:-1;position:absolute;right:0;left:0;top:0;bottom:0;overflow:hidden">
			<video style="bottom:0;position:absolute;width:100%" autoplay>
		            <source src="http://www.quirksmode.org/html5/videos/big_buck_bunny.mp4?test1" type="video/mp4">
		            <source src="http://www.quirksmode.org/html5/videos/big_buck_bunny.ogv?test1" type="video/ogg">
		    </video>
	    </div>
	    <div class="uk-container uk-container-center">
        	<div class="uk-clearfix">
			    <div class="uk-align-right">
			    	<a href="/myorder"><img class="uk-border-circle" ng-src="static/img/users/{{user.email}}/head.jpg"  width="40" height="40" alt="" onerror="this.onerror=null;this.src='static/img/home/blank.jpg';">
			    	</a> {{user.firstname}}
			    	<a href="/logout"><i class="uk-icon-medium uk-icon-cog uk-margin-left"></i></a>
			    	<a href="http://google.com"><i class="uk-icon-medium uk-icon-envelope-o uk-margin-left"></i></a>
			    </div>
			</div>
			<div style="height:150px">
			</div>		
			<div class="uk-text-center">
	    		<a class="uk-button uk-button-large uk-button-success uk-border-rounded" href="http://google.com"><i class="uk-icon-institution"></i> Start a workshop</a>
	    	</div>
		    <div class="uk-text-center">
	        	<form class="uk-search" data-uk-search>					          
	        		<input class="uk-search-field" type="search">
	        	</form>
        	</div>
        	<div style="height:500px">
			</div>
		</div>
    </div>
	<div class="uk-container uk-container-center">
        
		<div class="uk-container uk-container-center">
			<div class="uk-clearfix">
			    <div class="uk-align-left">Most Recent</div>
			</div>
			<ul class="uk-grid uk-grid-width-1-3" data-uk-grid-margin>
			    <li ng-repeat="workshop in searchPaginator.currentPageItems">
			    	<a href="/workshop?id={{workshop._id}}">
				    <figure class="uk-overlay">
					    <img ng-src="static/img/works/{{workshop.work._id}}/head.png" width="400" height="400" alt="">
					    <figcaption class="uk-overlay-panel uk-flex uk-flex-top uk-flex-right">
						    <div>
						    	<img class="uk-border-circle" ng-src="static/img/users/{{workshop.owner.email}}/head.jpg" width="40" height="40" alt="">
						    </div>
					    </figcaption>
					    <figcaption class="uk-overlay-panel uk-flex uk-flex-bottom">
						    <div>{{workshop.work.name}}
						    </div>
					    </figcaption>
					    <figcaption class="uk-overlay-panel uk-flex uk-flex-bottom uk-flex-right">
						    <div class="uk-text-large uk-text-bold">{{workshop.price}}$
						    </div>
					    </figcaption>
					</figure>
					</a>
			    </li>
			    <li>
				    <figure class="uk-overlay">
					    <img src="static/img/home/makeup.jpg" width="400" height="400" alt="">
					    <figcaption class="uk-overlay-panel uk-flex uk-flex-top uk-flex-right">
						    <div>
						    	<img class="uk-border-circle" src="static/img/home/obama.jpg" width="40" height="40" alt="">
						    </div>
					    </figcaption>
					    <figcaption class="uk-overlay-panel uk-flex uk-flex-bottom">
						    <div>Make Up
						    </div>
					    </figcaption>
					    <figcaption class="uk-overlay-panel uk-flex uk-flex-bottom uk-flex-right">
						    <div class="uk-text-large uk-text-bold">15$
						    </div>
					    </figcaption>
					</figure>
			    </li>
			    <li>
				    <figure class="uk-overlay">
					    <img src="static/img/home/brew.jpg" width="400" height="400" alt="">
					    <figcaption class="uk-overlay-panel uk-flex uk-flex-top uk-flex-right">
						    <div>
						    	<img class="uk-border-circle" src="static/img/home/obama.jpg" width="40" height="40" alt="">
						    </div>
					    </figcaption>
					    <figcaption class="uk-overlay-panel uk-flex uk-flex-bottom">
						    <div>Brew Coffee
						    </div>
					    </figcaption>
					    <figcaption class="uk-overlay-panel uk-flex uk-flex-bottom uk-flex-right">
						    <div class="uk-text-large uk-text-bold">25$
						    </div>
					    </figcaption>
					</figure>
			    </li>
			</ul>
			<div class="uk-clearfix">
			    <div class="uk-align-right">More</div>
			</div>
		</div>
		<div class="uk-container uk-container-center">
			<div class="uk-clearfix">
			    <div class="uk-align-left">Top List</div>
			</div>
			<ul class="uk-grid uk-grid-width-1-3" data-uk-grid-margin="">
			    <li>
				    <figure class="uk-overlay">
					    <img src="static/img/home/brew.jpg" width="400" height="400" alt="">
					    <figcaption class="uk-overlay-panel uk-flex uk-flex-top uk-flex-right">
						    <div>
						    	<img class="uk-border-circle" src="static/img/home/obama.jpg" width="40" height="40" alt="">
						    </div>
					    </figcaption>
					    <figcaption class="uk-overlay-panel uk-flex uk-flex-bottom">
						    <div>Brew Coffee
						    </div>
					    </figcaption>
					    <figcaption class="uk-overlay-panel uk-flex uk-flex-bottom uk-flex-right">
						    <div class="uk-text-large uk-text-bold">25$
						    </div>
					    </figcaption>
					</figure>
			    </li>
			    <li>
				    <figure class="uk-overlay">
					    <img src="static/img/home/brew.jpg" width="400" height="400" alt="">
					    <figcaption class="uk-overlay-panel uk-flex uk-flex-top uk-flex-right">
						    <div>
						    	<img class="uk-border-circle" src="static/img/home/obama.jpg" width="40" height="40" alt="">
						    </div>
					    </figcaption>
					    <figcaption class="uk-overlay-panel uk-flex uk-flex-bottom">
						    <div>Brew Coffee
						    </div>
					    </figcaption>
					    <figcaption class="uk-overlay-panel uk-flex uk-flex-bottom uk-flex-right">
						    <div class="uk-text-large uk-text-bold">25$
						    </div>
					    </figcaption>
					</figure>
			    </li>
			    <li>
				    <figure class="uk-overlay">
					    <img src="static/img/home/brew.jpg" width="400" height="400" alt="">
					    <figcaption class="uk-overlay-panel uk-flex uk-flex-top uk-flex-right">
						    <div>
						    	<img class="uk-border-circle" src="static/img/home/obama.jpg" width="40" height="40" alt="">
						    </div>
					    </figcaption>
					    <figcaption class="uk-overlay-panel uk-flex uk-flex-bottom">
						    <div>Brew Coffee
						    </div>
					    </figcaption>
					    <figcaption class="uk-overlay-panel uk-flex uk-flex-bottom uk-flex-right">
						    <div class="uk-text-large uk-text-bold">25$
						    </div>
					    </figcaption>
					</figure>
			    </li>
			    <li>
				    <figure class="uk-overlay">
					    <img src="static/img/home/brew.jpg" width="400" height="400" alt="">
					    <figcaption class="uk-overlay-panel uk-flex uk-flex-top uk-flex-right">
						    <div>
						    	<img class="uk-border-circle" src="static/img/home/obama.jpg" width="40" height="40" alt="">
						    </div>
					    </figcaption>
					    <figcaption class="uk-overlay-panel uk-flex uk-flex-bottom">
						    <div>Brew Coffee
						    </div>
					    </figcaption>
					    <figcaption class="uk-overlay-panel uk-flex uk-flex-bottom uk-flex-right">
						    <div class="uk-text-large uk-text-bold">25$
						    </div>
					    </figcaption>
					</figure>
			    </li>
			    <li>
				    <figure class="uk-overlay">
					    <img src="static/img/home/brew.jpg" width="400" height="400" alt="">
					    <figcaption class="uk-overlay-panel uk-flex uk-flex-top uk-flex-right">
						    <div>
						    	<img class="uk-border-circle" src="static/img/home/obama.jpg" width="40" height="40" alt="">
						    </div>
					    </figcaption>
					    <figcaption class="uk-overlay-panel uk-flex uk-flex-bottom">
						    <div>Brew Coffee
						    </div>
					    </figcaption>
					    <figcaption class="uk-overlay-panel uk-flex uk-flex-bottom uk-flex-right">
						    <div class="uk-text-large uk-text-bold">25$
						    </div>
					    </figcaption>
					</figure>
			    </li>
			</ul>
			<div class="uk-clearfix">
			    <div class="uk-align-right">More</div>
			</div>
		</div>
	</div>
<script>
	// read rendered data
	var rendered=<<.>>;
	console.log(rendered);
	// inject the $resource dependency here
	talentApp.controller('MainCtl', ['$scope', '$http', 'Paginator', function($scope,$http,Paginator){
		// general
		$scope.user=rendered.user;
		var fetchfunction = function(offset, size, callback) {
	      $http.get("/api/landing",{params:{offset:offset, size:size, sort:"time.time,price"}})
	        .success(callback);
	    }
	    $scope.searchPaginator = Paginator(fetchfunction, 20);
	}]);
	// monitor of search
	$('.uk-search-field').keydown(function(){
        if(event.keyCode == 13){
          //trigger search
          var query=$('.uk-search-field').val();
          var url='/search?query='+query;
          $(location).attr('href',url);
        }
      }); 
</script>
</body>
</html>