<!doctype html>
<html lang="en" ng-app="talentApp">
<head>
	<meta charset="UTF-8">
	<title>Order</title>
	<link rel="stylesheet" href="static/uikit/css/uikit.css" />
	<link rel="stylesheet" href="static/uikit/css/components/search.css" />
	<script src="https://code.jquery.com/jquery-2.1.3.js"></script>
	<script src="static/uikit/js/uikit.js"></script>
	<!-- putting this at the top to remove the jarring load -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
	<script src="static/js/app.js"></script>
	<script src="static/js/services.js"></script>
</head>

<body ng-controller="MainCtl" class="uk-position-relative" my-main-directive>
	<div class="uk-container uk-container-center">
		<div class="uk-clearfix">
			<div class="uk-align-left">
				<a href="/landing"><img src="static/img/detail/talentjungle.png" alt="" width="200"></a>
				<form class="uk-search" style="display:inline">
  			 		<input class="uk-search-field" type="search" placeholder="Find a talent">
				</form>
			</div>
			<div class="uk-align-right" style="margin-top:5px">
				<a href="/order"><img class="uk-border-circle" ng-src="static/img/users/{{user.email}}/head.jpg"  width="40" height="40" alt="" onerror="this.onerror=null;this.src='static/img/home/blank.jpg';"></a>
				<a style="font-family:'PT Sans Caption'; font-size:20px; font-weight:100; text-decoration:none; color:#382F2B">{{user.firstname}}</a>
			</div>
		</div>
		<!-- <div style="background-color:#BEF781">
			<div style="height:30px"></div>
			<div  class="uk-clearfix">
				<h1 class="uk-align-left" style="font-family:'PT Sans Caption'; font-size:50px; color:#FFFFFF; margin-left:20px">My Order</h1>
				<a href="" class="uk-align-right" style="font-family:'PT Sans Caption'; font-size:40px; color:#FFFFFF; margin-right:20px; margin-top:15px" ng-click="getWaitlist()">History</a>
				<a href="" class="uk-align-right" style="font-family:'PT Sans Caption'; font-size:40px; color:#FFFFFF; margin-right:20px; margin-top:15px" ng-click="getSucceed()">Succeed</a>
			</div>
			<div style="height:20px"></div>
		</div> -->
		<ul class="uk-subnav uk-subnav-pill" data-uk-switcher="{connect:'#subnav-pill-content-1'}">
            <li class="uk-active"><a href="#">Succeed</a></li>
            <li><a href="#">History</a></li>
        </ul>

        <ul id="subnav-pill-content-1" class="uk-switcher">
            <li class="uk-active">
            	<div class="uk-width-9-10 uk-container-center uk-grid" ng-repeat="order in searchPaginatorSucceed.currentPageItems" my-main-directive>
					<div class="uk-width-3-10">
						<a href="/workshop?id={{order.workshop._id}}"><img ng-src="static/img/works/{{order.workshop.work._id}}/head.png"></a>
					</div>
					<div class="uk-width-5-10">
						<h1 style="font-family:'PT Sans Caption'; font-size:30px; margin:0"><strong>{{order.workshop.work.name}}</strong></h1>
						<p style="font-family:'PT Sans Caption'; font-size:20px; margin:0; line-height:30px">{{order.workshop.time.string}}</p>
						<p style="font-family:'PT Sans Caption'; font-size:20px; margin:0; line-height:30px; color:#838280">Order by: {{order.orderby.string}}<br>Teacher: {{order.workshop.owner.firstname}}<br>Rate: {{order.workshop.work.rate}}</p>
						<div class="uk-clearfix">
							<a class="uk-align-right" style="font-family:'PT Sans Caption'; font-size:20px; line-height:30px" href="/drop?id={{order.workshop._id}}&email={{user.email}}"><i class="uk-icon-trash-o"></i> Drop</a>
						</div>	
					</div>
					<div class="uk-width-2-10 uk-clearfix">
						<img class="uk-border-circle uk-align-right" src="static/img/home/obama.jpg" width="60" height="60" alt="">
						<div style="height:200px"></div>
						<a class="uk-align-right" href="mailto:{{order.workshop.owner.email}}?subject=[Talent Jungle][{{order.workshop.work.name}}]" style="font-family:'PT Sans Caption'; font-size:30px; color:#BEF781" >Contact</a>
					</div>
				</div>
            </li>
            <li>
            	<div class="uk-width-9-10 uk-container-center uk-grid" ng-repeat="order in searchPaginatorHistory.currentPageItems" my-main-directive>
					<div class="uk-width-3-10">
						<a href="/workshop?id={{order.workshop._id}}"><img ng-src="static/img/works/{{order.workshop.work._id}}/head.png"></a>
					</div>
					<div class="uk-width-5-10">
						<h1 style="font-family:'PT Sans Caption'; font-size:30px; margin:0"><strong>{{order.workshop.work.name}}</strong></h1>
						<p style="font-family:'PT Sans Caption'; font-size:20px; margin:0; line-height:30px">{{order.workshop.time.string}}</p>
						<p style="font-family:'PT Sans Caption'; font-size:20px; margin:0; line-height:30px; color:#838280">Order by: {{order.orderby.string}}<br>Teacher: {{order.workshop.owner.firstname}}<br>Rate: {{order.workshop.work.rate}}</p>
						<form class="uk-form" action="/api/myorder/rate" id="rateForm" method="post">
							<fieldset>
								<legend style="font-family:'PT Sans Caption'; font-size:20px">Review</legend>
								<div class="uk-form-row">
									<div class="hiddenform" ng-repeat="review in order.workshop.reviews|filter:{email:user.email}" my-repeat-directive>
										<input type="hidden" name="contentmodel" value="{{review.content}}">
										<input type="hidden" name="rate" value="{{review.rate}}">
									</div>
									<textarea cols="50" name="content" rows="5">{{review.content}}</textarea>
									<div class="star-container" value="{{review.rate}}">
										<i class="uk-icon-star uk-icon-large" ng-click="click($event)" ng-mouseover="hover($event)" ng-mouseleave="hoveroff($event)" value="1"></i>
										<i class="uk-icon-star uk-icon-large" ng-click="click($event)" ng-mouseover="hover($event)" ng-mouseleave="hoveroff($event)" value="2"></i>
										<i class="uk-icon-star uk-icon-large" ng-click="click($event)" ng-mouseover="hover($event)" ng-mouseleave="hoveroff($event)" value="3"></i>
										<i class="uk-icon-star uk-icon-large" ng-click="click($event)" ng-mouseover="hover($event)" ng-mouseleave="hoveroff($event)" value="4"></i>
										<i class="uk-icon-star uk-icon-large" ng-click="click($event)" ng-mouseover="hover($event)" ng-mouseleave="hoveroff($event)" value="5"></i>
									</div>
									<input type="hidden" name="id" value="{{order.workshop._id}}">
					        		<input type="hidden" name="email" value="{{user.email}}">
								</div>
								<div class="uk-form-row">
									<button class="uk-button">Submit</button>
								</div>
							</fieldset>
						</form>				
					</div>
					<div class="uk-width-2-10 uk-clearfix">
						<img class="uk-border-circle uk-align-right" src="static/img/home/obama.jpg" width="60" height="60" alt="">
						<div style="height:200px"></div>
						<a class="uk-align-right" href="mailto:{{order.workshop.owner.email}}?subject=[Talent Jungle][{{order.workshop.work.name}}]" style="font-family:'PT Sans Caption'; font-size:30px; color:#BEF781">Contact</a>
					</div>
				</div>	
            </li>
        </ul>
		<div style="height:50px"></div>
		
		<img src="static/img/detail/shortgreyline.png" alt="">

		<figure class="uk-overlay uk-overlay-hover">
		<img src="static/img/detail/bottomimage.png" alt="" width="" height="">
		<figcaption class="uk-overlay-panel">
			<div style="height:60px"></div>
			<div class="uk-grid">
				<div class="uk-width-1-10"></div>
				<div class="uk-width-9-10">
					<table>
						<col width="200">
						<tr style="height:40px">
							<td style="font-family:'PT Sans Caption'; font-size:30px"><strong>Company</strong></td>
							<td style="font-family:'PT Sans Caption'; font-size:30px; font-weight:100"><a href="" style="text-decoration:none">History</a></td>
						</tr>
						<tr style="height:40px">
							<td style="font-family:'PT Sans Caption'; font-size:30px"></td>
							<td style="font-family:'PT Sans Caption'; font-size:30px; font-weight:100"><a href="" style="text-decoration:none">Founders</a></td>
						</tr>
						<tr style="height:40px">
							<td style="font-family:'PT Sans Caption'; font-size:30px"></td>
							<td style="font-family:'PT Sans Caption'; font-size:30px; font-weight:100"><a href="" style="text-decoration:none">Politics</a></td>
						</tr>
						<tr style="height:40px">
							<td style="font-family:'PT Sans Caption'; font-size:30px"></td>
							<td style="font-family:'PT Sans Caption'; font-size:30px; font-weight:100"><a href="" style="text-decoration:none">Terms & Policies</a></td>
						</tr>
						<tr style="height:40px">
							<td style="font-family:'PT Sans Caption'; font-size:30px"></td>
							<td style="font-family:'PT Sans Caption'; font-size:30px; font-weight:100"><a href="" style="text-decoration:none"></a></td>
						</tr>
						<tr style="height:40px">
							<td style="font-family:'PT Sans Caption'; font-size:30px"><strong>Contact</strong></td>
							<td style="font-family:'PT Sans Caption'; font-size:30px; font-weight:100"><a href="" style="text-decoration:none">Phone</a></td>
						</tr>
						<tr style="height:40px">
							<td style="font-family:'PT Sans Caption'; font-size:30px"></td>
							<td style="font-family:'PT Sans Caption'; font-size:30px; font-weight:100"><a href="mailto:qicongc@cs.cmu.edu" style="text-decoration:none">Email</a></td>
						</tr>
						<tr style="height:40px">
							<td style="font-family:'PT Sans Caption'; font-size:30px"><strong>Join us</strong></td>
							<td style="font-family:'PT Sans Caption'; font-size:30px; font-weight:100"><a href="" style="text-decoration:none"></a></td>
						</tr>
					</table>
				</div>
			</div>
		</figcaption>
	</figure>
	</div>
<script>
	// read rendered data
	var rendered=<<.>>;
	console.log(rendered);
	// inject the $resource dependency here
	talentApp.directive('myRepeatDirective', function($timeout) {
  		return function(scope, element, attrs) {
  			if (scope.$last) {
   				$timeout(function() { 
					var content = $(element).children("input[name=contentmodel]").val();
					var rate = $(element).children("input[name=rate]").val();
					console.log(content);
					var parent = $(element).parent();
					parent.children("textarea").append(content)
					parent.children(".star-container").children(".uk-icon-star").each(function(){
						if ($(this).attr("value")<=rate){
							$(this).css("color","red");
						}
					})
					parent.children(".star-container").mouseenter(function() {
    					$(this).css("cursor", "pointer");
						}).mouseleave(function() {
     					$(this).css("cursor", "default");
						});
   				});
			}
  		};
	}).controller('MainCtl', ['$scope', '$http', 'Paginator', function($scope,$http,Paginator){
		// general 
		$scope.user=rendered.user;
		var fetchsucceed = function(offset, size, callback) {
	      $http.get("/api/myorder/succeed",{params:{email:$scope.user.email,offset:offset, size:size}})
	        .success(callback);
	    }
	    var fetchhistory = function(offset, size, callback) {
	      $http.get("/api/myorder/history",{params:{email:$scope.user.email,offset:offset, size:size}})
	        .success(callback);
	    }
	    $scope.searchPaginatorSucceed = Paginator(fetchsucceed, 20);
	    $scope.searchPaginatorHistory = Paginator(fetchhistory, 20);
	    $scope.click=function(obj){
	    	var value = obj.target.attributes.value.value;
	    	var parent = $(obj.target).parent().parent();
	    	parent.children(".hiddenform").children("[name=rate]").attr("value",value);
	    	parent.children(".star-container").children(".uk-icon-star").each(function(){
	    		if ($(this).attr("value")<=value){
	    			$(this).css("color","red");
	    		}else{
	    			$(this).css("color","black");
	    		}
	    	});
	    }
	   	$scope.hoveroff=function(obj){
	   		var parent = $(obj.target).parent().parent()
	   		var value = parent.children(".hiddenform").children("[name=rate]").attr("value")
	    	parent.children(".star-container").children(".uk-icon-star").each(function(){
	    		if ($(this).attr("value")>value){
	    			$(this).css("color","black");
	    		}
	    	});
	    }
	   	$scope.hover=function(obj){
	   		var parent = $(obj.target).parent().parent()
	   		var value = parent.children(".hiddenform").children("[name=rate]").attr("value")
	   		var currentValue = obj.target.attributes.value.value;
	    	parent.children(".star-container").children(".uk-icon-star").each(function(){
	    		if ($(this).attr("value")>value && $(this).attr("value")<=currentValue){
	    			$(this).css("color","red");
	    		}
	    	});
	    }
	}]);
	$('.uk-search-field').keydown(function(){
        if(event.keyCode == 13){
          //trigger search
          var query=$('.uk-search-field').val();
          var url='/api/search?query='+query+'&offset=0&size=20&sort=-time.time';
          $(location).attr('href',url);
        }
    });
</script>
</body>
</html>