<!doctype html>
<html lang="en" ng-app="talentApp">
<head>
	<meta charset="UTF-8">
	<title>Search</title>
	<link rel="stylesheet" href="/static/uikit/css/uikit.css" />
	<link rel="stylesheet" href="/static/uikit/css/components/search.css" />
	<script src="https://code.jquery.com/jquery-2.1.3.js"></script>
	<script src="/static/uikit/js/uikit.js"></script>
	<script src="/static/uikit/js/components/pagination.js"></script>
	<!-- putting this at the top to remove the jarring load -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
	<script src="/static/js/app.js"></script>
	<script src="/static/js/services.js"></script>
</head>
<body ng-controller="MainCtl" class="uk-position-relative">
	<div class="uk-container uk-container-center">
		<div style="height:50px;"></div>
		<div class="uk-grid">
			<div class="uk-width-1-5">
				<a href="/landing"><img src="/static/img/detail/talentjungle.png" alt="" width="200"></a>
			</div>
			<div class="uk-width-3-5">
				<nav class="uk-navbar">
	                <div class="uk-navbar-flip">
	                    <div class="uk-navbar-content">
	                        <form class="uk-search" data-uk-search="">
	                            <input class="uk-search-field" type="search" placeholder="search...">
	                        </form>
	                    </div>
	                </div>
	            </nav>
			</div>
			<div class="uk-align-right" style="margin-top:5px">
				<a href="/order"><img class="uk-border-circle" ng-src="static/img/users/{{user.email}}/head.jpg"  width="40" height="40" alt="" onerror="this.onerror=null;this.src='static/img/home/blank.jpg';"></a>
				<a style="font-family:'PT Sans Caption'; font-size:20px; font-weight:100; text-decoration:none; color:#382F2B">{{user.firstname}}</a>
			</div>
		</div>
		<div style="height:50px"></div>
		<form class="uk-form">
            <div class="uk-grid">
                <div class="uk-width-1-6"><label><input type="checkbox"> Keyword</label></div>
                <div class="uk-width-1-6"><label><input type="checkbox"> Keyword</label></div>
                <div class="uk-width-1-6"><label><input type="checkbox"> Keyword</label></div>
                <div class="uk-width-1-6"><label><input type="checkbox"> Keyword</label></div>
                <div class="uk-width-1-6"><label><input type="checkbox"> Keyword</label></div>
                <div class="uk-width-1-6"><label><input type="checkbox"> Keyword</label></div>
                <div class="uk-width-1-6"><label><input type="checkbox"> Keyword</label></div>
                <div class="uk-width-1-6"><label><input type="checkbox"> Keyword</label></div>
                <div class="uk-width-1-6"><label><input type="checkbox"> Keyword</label></div>
            </div>
        </form>
        <div style="height:100px"></div>

        <div class="uk-margin uk-clearfix">
        	<div class="uk-align-left">Sort by</div>
            <div data-uk-button-checkbox>
                <button class="sort-btn uk-button" key="-time.time">Most Recent</button>
                <button class="sort-btn uk-button" key="-length">Longest</button>
                <button class="sort-btn uk-button" key="work.popularity">Most Popular</button>
                <button class="sort-btn uk-button" key="price">Cheapest</button>
            </div>
        </div>
<!--         <div style="height:100px"></div> -->


        <!-- <ul class="uk-grid uk-grid-width-1-3" data-uk-grid-margin> -->
		    <!-- <li ng-repeat="workshop in searchPaginator.currentPageItems">
		    	<a href="/workshop?id={{workshop._id}}">
			    <figure class="uk-overlay">
				    <img ng-src="../img/works/{{workshop.work._id}}/head.png" width="400" height="400" alt="">
				    <figcaption class="uk-overlay-panel uk-flex uk-flex-top uk-flex-right">
					    <div>
					    	<img class="uk-border-circle" ng-src="../img/users/{{workshop.owner.email}}/head.jpg" width="40" height="40" alt="">
					    </div>
				    </figcaption>
				    <figcaption class="uk-overlay-panel uk-flex uk-flex-bottom">
					    <div>{{workshop.work.name}}
					    </div>
				    </figcaption>
				    <figcaption class="uk-overlay-panel uk-flex uk-flex-bottom uk-flex-right">
					    <div class="uk-text-large uk-text-bold">{{workshop.price}}$
					    </div>
				    </figcaption>
				</figure>
				</a>
		    </li> -->
<!-- 		    <li>
			    <figure class="uk-overlay">
				    <img src="/static/img/home/makeup.jpg" width="400" height="400" alt="">
				    <figcaption class="uk-overlay-panel uk-flex uk-flex-top uk-flex-right">
					    <div>
					    	<img class="uk-border-circle" src="../img/home/obama.jpg" width="40" height="40" alt="">
					    </div>
				    </figcaption>
				    <figcaption class="uk-overlay-panel uk-flex uk-flex-bottom">
					    <div>Make Up
					    </div>
				    </figcaption>
				    <figcaption class="uk-overlay-panel uk-flex uk-flex-bottom uk-flex-right">
					    <div class="uk-text-large uk-text-bold">15$
					    </div>
				    </figcaption>
				</figure>
		    </li>
		    <li>
			    <figure class="uk-overlay">
				    <img src="/static/img/home/brew.jpg" width="400" height="400" alt="">
				    <figcaption class="uk-overlay-panel uk-flex uk-flex-top uk-flex-right">
					    <div>
					    	<img class="uk-border-circle" src="../img/home/obama.jpg" width="40" height="40" alt="">
					    </div>
				    </figcaption>
				    <figcaption class="uk-overlay-panel uk-flex uk-flex-bottom">
					    <div>Brew Coffee
					    </div>
				    </figcaption>
				    <figcaption class="uk-overlay-panel uk-flex uk-flex-bottom uk-flex-right">
					    <div class="uk-text-large uk-text-bold">25$
					    </div>
				    </figcaption>
				</figure>
		    </li>
		</ul> -->


			<ul class="uk-grid uk-grid-width-1-3" data-uk-grid-margin>
			    <li ng-repeat="workshop in searchPaginator.currentPageItems">
			    	<a href="/workshop?id={{workshop._id}}">
				    <figure class="uk-overlay">
					    <img ng-src="/static/img/works/{{workshop.work._id}}/head.png" width="400" height="400" alt="">
					    <figcaption class="uk-overlay-panel uk-flex uk-flex-top uk-flex-right">
						    <div>
						    	<img class="uk-border-circle" ng-src="/static/img/users/{{workshop.owner.email}}/head.jpg" width="40" height="40" alt="">
						    </div>
					    </figcaption>
					    <figcaption class="uk-overlay-panel uk-flex uk-flex-bottom">
						    <div>{{workshop.work.name}}
						    </div>
					    </figcaption>
					    <figcaption class="uk-overlay-panel uk-flex uk-flex-bottom uk-flex-right">
						    <div class="uk-text-large uk-text-bold">{{workshop.price}}$
						    </div>
					    </figcaption>
					</figure>
					</a>
			    </li>
<!-- 			    <li>
				    <figure class="uk-overlay">
					    <img src="/static/img/home/makeup.jpg" width="400" height="400" alt="">
					    <figcaption class="uk-overlay-panel uk-flex uk-flex-top uk-flex-right">
						    <div>
						    	<img class="uk-border-circle" src="static/img/home/obama.jpg" width="40" height="40" alt="">
						    </div>
					    </figcaption>
					    <figcaption class="uk-overlay-panel uk-flex uk-flex-bottom">
						    <div>Make Up
						    </div>
					    </figcaption>
					    <figcaption class="uk-overlay-panel uk-flex uk-flex-bottom uk-flex-right">
						    <div class="uk-text-large uk-text-bold">15$
						    </div>
					    </figcaption>
					</figure>
			    </li>
			    <li>
				    <figure class="uk-overlay">
					    <img src="static/img/home/brew.jpg" width="400" height="400" alt="">
					    <figcaption class="uk-overlay-panel uk-flex uk-flex-top uk-flex-right">
						    <div>
						    	<img class="uk-border-circle" src="/static/img/home/obama.jpg" width="40" height="40" alt="">
						    </div>
					    </figcaption>
					    <figcaption class="uk-overlay-panel uk-flex uk-flex-bottom">
						    <div>Brew Coffee
						    </div>
					    </figcaption>
					    <figcaption class="uk-overlay-panel uk-flex uk-flex-bottom uk-flex-right">
						    <div class="uk-text-large uk-text-bold">25$
						    </div>
					    </figcaption>
					</figure>
			    </li> -->
			</ul>
			<div style="height:50px;"></div>
  			<div class="ui blue button uk-button" id="prev-page" ng-click="searchPaginator.previous()" ng-show="searchPaginator.hasPrevious()">Previous</div>
    		<div class="or"></div>
    		<div class="ui blue button uk-button" id="succ-page" ng-click="searchPaginator.next()" ng-show="searchPaginator.hasNext()">Next</div>
    		<p>{{searchPaginator.currentOffset+1}} of {{searchPaginator.totalPages}}</p> <!--Paginator的totalPages有疑问。可以讨论一下-->
    		<div style="height:50px;"></div>

 



		
	</div>
<script>
	// read rendered data
	var rendered=<<.>>;
	console.log(rendered);
	// inject the $resource dependency here
	talentApp.controller('MainCtl', ['$scope', '$http', 'Paginator', function($scope,$http,Paginator){
		// general
		$scope.user=rendered.user;
		var query = rendered.query;
		// console.log(query);
		var sortStr = "-time.time"
		var fetchfunction = function(offset, size, callback) {
	      $http.get("/api/search",{params:{query:query,offset:offset, size:size, sort:sortStr}})
	        .success(callback);
	    }
	    $scope.searchPaginator = Paginator(fetchfunction, 1);
	    $('.sort-btn:first-child').addClass("uk-active");
	    var sort = ['-time.time'];
	    $('.sort-btn').on('click',function(){
	    	var key = $(this).attr("key");
	    	if (sort.indexOf(key)>=0){
	    		sort.splice(sort.indexOf(key),1);
	    	}else
	    		sort.push(key);
	    	// console.log(sort);
	    	sortStr = "";
	    	for (i in sort){
	    		if (i > 0)
	    			sortStr = sortStr.concat(",");
	    		sortStr = sortStr.concat(sort[i]);
	    	}
	    	// console.log(sortStr);
	    	if (sort.length>0)
				$scope.searchPaginator = Paginator(fetchfunction, 1);
	    })
	 //    $('[data-uk-pagination]').on('select.uk.pagination', function(e, pageIndex){
	 //    	console.log($scope.searchPaginator);
  //   		$scope.searchPaginator = Paginator(fetchfunction, 2).next;
		// });
	}]);
	// monitor of search
	$('.uk-search-field').keydown(function(){
        if(event.keyCode == 13){
          //trigger search
          var query=$('.uk-search-field').val();
          var url='/search?query='+query;
          $(location).attr('href',url);
        }
      }); 
</script>
</body>
</html>
