<!doctype html>
<html lang="en" ng-app="talentApp" style="background: url(static/img/login/back.png) no-repeat center center fixed;background-size:cover">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" href="static/uikit/css/uikit.css" />
	<link rel="stylesheet" href="static/uikit/css/components/form-password.css" />
	<script src="https://code.jquery.com/jquery-2.1.3.js"></script>
	<script src="static/uikit/js/uikit.js"></script>
	<script src="static/uikit/js/components/form-password.js"></script>
	<!-- putting this at the top to remove the jarring load -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
	<script src="static/js/app.js"></script>
	<script src="static/js/services.js"></script>
</head>

<body ng-controller="MainCtl">
    <div class="uk-container uk-container-center"> <!-- begin flex content -->
    	<div style="height:50px">
		</div>
		<div class="uk-grid uk-width-1-1">
			<div class="uk-width-4-10">
			</div>
			<div class="uk-width-4-10">
				<div style="background: url(static/img/login/logo.png) no-repeat center center;background-size:contain;height:150px;width:200px">
				</div>
				<div style="background: url(static/img/login/foot.png) no-repeat center center;background-size:contain;height:150px;width:200px">
				</div>
			</div>
			<div class="uk-width-2-10">
			</div>
		</div>
		<div class="uk-grid uk-width-1-1">
			<div class="uk-width-4-10">
			</div>
			<div class="uk-width-4-10">
				<div id="alert-sign" class="uk-alert uk-alert-success" data-uk-alert style="width:230px">
                	<p>{{message}}</p>
                </div>
                <div id="alert-rendered" class="uk-alert uk-alert-success" data-uk-alert style="width:230px">
                	<p>{{rendered_message}}</p>
                </div>
                <form id="form-info" class="uk-form" action="/signup" method="post">
                    <fieldset>
                        <div class="uk-form-row">
                            <input id="input-email" type="text" name="email" placeholder="School Email" style="height:40px; width:250px" ng-blur="checkEmail()">
                        </div>
                        <div class="uk-form-password" >
					        <input type="password" name="password" placeholder="Password" style="height:40px; width:250px" ng-focus="checkEmail()">
					        <a href="" class="uk-form-password-toggle" data-uk-form-password>Show</a>
					    </div>
					    <!-- <br> -->
                        <div class="uk-form-row">
                            <button id="button-submit" class="uk-button uk-button-success" style="height:40px; width:250px">Sign Up</button>
                        </div>
                    </fieldset>
                </form>

             
                <div style="height:50px">
				</div>
                <div style="width:250px">
					<img class="uk-align-center" src="static/img/login/words.png" alt="WhereYouFindYourTalent">
				</div>
			</div>
			<div class="uk-width-2-10">
			</div>
		</div>

    </div> <!-- end flex content -->

	<!-- <form action="" method="POST">
	  <script
	    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
	    data-email="qicongc@cs.cmu.edu"
	    data-key="pk_test_59N9adDuB9sYwd7QqeYGRyeW"
	    data-amount="1000"
	    data-name="Talent Jungle"
	    data-description="Brew Coffee"
	    data-label="Checkout"
	    data-image="static/img/login/logo.png">
	  </script>
	</form> -->
	<!-- <button id="button-purchase" class="uk-button uk-button-success" style="height:40px; width:250px">Purchase</button> -->
	<!-- <button id="button-connect" class="uk-button uk-button-success" style="height:40px; width:250px">Connect</button> -->

<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
	// customer payment
	// var handler = StripeCheckout.configure({
	//     key: 'pk_test_59N9adDuB9sYwd7QqeYGRyeW',
	//     image: 'static/img/login/logo.png',
	//     token: function(token) {
	//       // Use the token to create the charge with a server-side script.
	//       // You can access the token ID with `token.id`
	//       console.log(token);
	//     }
	// });

	// $('#button-purchase').on('click', function(e) {
	// 	// Open Checkout with further options
	// 	handler.open({
	// 	  name: 'Talent Jungle',
	// 	  description: 'brew coffee',
	// 	  amount: 2000
	// 	});
	// 	e.preventDefault();
	// });

	// // Close Checkout on page navigation
	// $(window).on('popstate', function() {
	// 	handler.close();
	// });

	// //seller add info
	// $('#button-connect').on('click', function(e) {
	// 	var uri = "https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_5xqK81IocvtqXa4GVjaDBo5IG5MCnmK6&scope=read_write&stripe_user[email]=luoyuchen0211@gmail.com&stripe_user[street_address]=columbia&stripe_user[business_name]=talent jungle seller";
	// 	console.log(uri);
	// 	//var res = encodeURI(uri);
	// 	//console.log(res);
	// 	$(location).attr('href',uri);
	// });



	// read rendered data
	var rendered=<<.>>;
	console.log(rendered);
	if(rendered.message=="")
	{
		$("#alert-rendered").css("visibility","hidden");
		$("#button-submit").text("Sign Up");
		$("#form-info").prop("action","/signup");
	}
	else
	{
		$("#button-submit").text("Log In");
		$("#form-info").prop("action","/login");
		if(!rendered.success){
			$("#alert-rendered").removeClass("uk-alert-success");
			$("#alert-rendered").addClass("uk-alert-danger");
		}
	}
	$("#alert-sign").css("visibility","hidden");
	// inject the $resource dependency here
	talentApp.controller('MainCtl', ['$scope', '$http', function($scope,$http){
		$scope.rendered_message=rendered.message;
	   	$scope.checkEmail=function()
	    {
	    	var email=$("#input-email").val();
	    	console.log(email);
	    	if (email=="")
	    	{
	    		return;
	    	}
			$http.get('/api/signup', {params:{email:email}}).
			success(function(data) {
				console.log(data);
				if (data.code==0) { // cannot signup
					$("#alert-sign").removeClass("uk-alert-success");
					$("#alert-sign").addClass("uk-alert-danger");
				}else if (data.code==2){ // can login
					$("#alert-sign").removeClass("uk-alert-danger");
					$("#alert-sign").addClass("uk-alert-success");
					$("#button-submit").text("Log In");
					$("#form-info").prop("action","/login");
				}else{ // can signup
					$("#alert-sign").removeClass("uk-alert-danger");
					$("#alert-sign").addClass("uk-alert-success");
					$("#button-submit").text("Sign Up");
					$("#form-info").prop("action","/signup");
				};
				$scope.message=data.message;
				$("#alert-sign").css("visibility","visible");			  
			});
	    }
	}]);
	// trigger submit
	$( "#button-submit" ).click(function() {
		$( "#form-info" ).submit();
	});
	
</script>
</body>
</html>